
body{
    margin:0px;
    font-family: Arial;
    background-color: black;
    color:white;
}

.header{
    background-color: rgb(107, 106, 106);
    vertical-align: middle;
    display:grid;
    grid-template-columns: .2fr 1fr;
    padding-top: 10px;padding-bottom: 10px;
    font-family: "Rock Salt", cursive;

}

.brand{
    margin:0px;
    display:inline-block;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 20px;
    color:white;
}

.like{
    justify-content:right;
    display: inline-flex;
}


.like:hover{
    opacity: 80%;
}

.count{
    margin:0px;
    display:inline-block;
    padding-top: 8px;
    padding-right: 20px;
    vertical-align: middle;
    font-size: 15px;
    background-color: rgb(107, 106, 106);
    color:white;
    border:none;
    width:50px;
    font-family: "Rock Salt", cursive;
    font-size: 13px;
    font-weight: bold;
}

.blike{
    vertical-align: middle;
    border:none;
    padding:0;
    background-color: rgb(107, 106, 106);
    color:white;
    font-size: 30px;
    padding-right: 10px;
}

.body{
    display: flex;
    justify-content: center;
    height:100%;
    width:100%;
}

.body2{
    padding-top: 30px;
    width:70%;
    font-family: "Caveat", cursive;
    font-size: 20px;
}

.cap{
    padding-left: 50px;
}

.image_1,.video{
    padding-top: 30px;
    justify-content: center;
    text-align: center;
}

img{
    width:20%;
}

.v2{
    width: 40%;
}

p{
    font-size: 25px;
}

